body {
    background-color: #040C47;
    width: 100%;    
}

.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E5BC17;
    border-bottom: dotted 1px #9E1D05;
}

.guess-board {
    height: 52vh; 
    width: 400px;
    background-color: #040c65;
    display: flex;
    justify-content: center;
    flex-direction: row;
   
    
}

.tile-container div {
    display: flex;
}

.tile-container .guess {
    display: flex;
    width: 60px;
    height: 7.5vh;
    background-color: #040c60;
    border: 2px solid #3a3a3d;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.messages {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    color: white;
}

.keyboard {
    width: 500px;
}

.keyboard button {
    width: 45px;
    height: 45px;
    background-color: #4287f5;
    border-radius: 4px;
}

.messages p {
    background-color: #4287f5;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    
}

.red-fillcolor {
    background-color: #FF6D6A !important;
    border: none !important
}

.yellow-fillcolor {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-fillcolor {
    background-color: #30B700 !important;
    border: none !important;
}